<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">USD-CAD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/corra">CORRA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/correlation">Correlation</a>
    </li>
  </ul>
</nav>